.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
    width: 100%;
    z-index: 1;
}
.childfolder{
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
}
a {
    text-decoration: none;
}
.footer{
    background-color: #34343f;
    margin:0px auto;
    color: #FFF;
    padding: 20px 0px 20px 0px;
}
.list-unstyled li a{
    color: #FFF;
    text-decoration: none;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #34343f ;
    color:floralwhite;
}

address{
    font-size:80%;
    line-height: 25px;
    margin:0px;
    color:#FFF;
}
address a{
    color:#FFF;
    text-decoration: none;
}
address a:hover{
    color: violet;
}
.text-center{
    display: flex;
   
}
i{
    display: flex;

    padding-top: 6px;
}
.text-center a {
    color:#FFF;
    text-decoration: none;
    width: 60px;
    height: 50px;
    transition: 0.5s;
    display: flex;
}
.text-center a:hover, .text-center i:hover {
    transform: scale(1.5);
    color: #FFF;
   /* background-color: black; */
}
.box-content{
    width: 100%;
    height: 100%;
}
.navbar-dark {
    background-color: #512DA8;
}
.navbar-nav{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.nav-item{
    width: 100%;
    height: 100%;
    text-align: center;
    /* background-color: black; */
}
.card-content{
    margin-bottom: 30px;
    /* width: 30%; */
    margin-right: 30px;
}

.input-text{
    margin: 10px 10px 10px 0px;
    height: 40px;
    min-width: 440px;
}
.input-btn{
    margin: 10px 10px 10px 0px;
    height: 40px;
    min-width: 110px;
    border-radius: 10px;
    font-size: 14;
    background-color: rgba(10, 255, 10, 0.8);
    box-shadow: 15 15 black;
}
.input-btn:hover{
    font-size: 20px;
    background-color: rgba(10, 255, 10, 0.5);
}
.card-menu{
    margin-bottom: 10px;
    text-align: center;
}
.menus{
    display: flex;
    width: 100%;
    margin: auto;
}
.overlay{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10000px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.row-form{
    display: flex;
    justify-content: center;
}
.form-input{
    position: relative;
    display: block;
    top: 100px;
    justify-content: center;
    /* left: 30%; */
    border: 1px solid black;
    background-color: white;
    min-width: 30%;

    /* height: 600px; */
    z-index: 10;
}
.form-group{
    width: 100%;
    padding-left: 20px;
    margin-bottom: 10px;
}
.close{
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: yellow;
    color: black;
    cursor: pointer;
}
.close:hover{
    font-size: 20px;
}

.fomr-container{
    margin-top: 20px;
}
.title-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addStaff{
    width: 80px;
    height: 40px;
    margin-right: 150px;
    margin-top: 10px;
    background-color: blue;
}
.fa-plus{
    font-size: 20px;
}
.addStaff:hover{
    background-color: rgba(0, 0, 255, 0.5);
}
.linknav{
    min-width: 330px;
}

.btn{
    margin-top: 10px;
}
.row-form-content{
    
    margin: 10px 0px 10px 0px;
}